<h1><%= @product.title %> (<%= pluralize @product.sales, 'sale' %>)</h1>
<table>
  <tbody>
    <tr>
      <th><%= image_tag(@product.image) %></th>
      <td>
        <dl>
          <% @product.info.each_pair do |k, v| %>
            <% if k == 'cast'%>
              <dt>Cast:</dt><dd><%=raw v.map{|actor| link_to(actor, products_path(:actor => actor))}.to_sentence %></dd>
            <% else %>
              <dt><%= k.titleize %>:</dt><dd><%= v %>&nbsp;</dd>
            <% end %>
          <% end %>
        </dl>
      </td>
    </tr>
  </tbody>
</table>

<h2>Purchased By</h2>

<ul>
  <% @product.users.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>